adafruit_requests==1.12.8
adafruit_sdcard==3.3.14
adafruit_logging==4.1.6
adafruit_pixelbuf==1.1.8
neopixel==6.3.6
adafruit_htu31d==1.1.8
adafruit_lc709203f==2.2.7
adafruit_bus_device==5.2.3
adafruit_io==5.6.12
adafruit_minimqtt==5.5.0
adafruit_register==1.9.14
